<div class="row" ng-controller="TheDashboard.Controller">
    <div class="span3">
        <div class="number">
            <div class="dot">{{vm.countPublishedNodes}}</div>
            <p>Published content nodes</p>
        </div>
    </div>
    <div class="span3">
        <div class="number">
            <div class="dot">{{vm.countContentInRecycleBin}}</div>
            <p>Nodes in recyle bin</p>
        </div>
    </div>
    <div class="span3">
        <div class="number">
            <div class="dot members">{{vm.countTotalWebsiteMembers}}</div>
            <p>Members on website</p>
        </div>
    </div>
    <div class="span3">
        <div class="number">
            <div class="dot members">{{vm.countNewMembersLastWeek}}</div>
            <p>New members last week</p>
        </div>
    </div>
    <div class="span3">
        <h3>Your Recent Activity</h3>
        <p>Shows your own recent activities.</p>
        <div ng-repeat="item in vm.userRecentActivity" class="logitem">
            <span>{{item.timestamp | date:'medium'}}</span>
            <p ng-show="item.logItemType =='Save'">
                Saved <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a> but did not publish.
            </p>
            <p ng-show="item.logItemType =='SavedAndScheduled'">
                Saved and scheduled <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a> for publishing at {{item.scheduledPublishDate | date}}.
            </p>
            <p ng-show="item.logItemType =='Publish'">
                Saved and published <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a>.
            </p>
            <p ng-show="item.logItemType =='Delete'">
                Moved {{item.nodeName}} to <a href="/umbraco/#/content/content/recyclebin">recycle bin.</a>
            </p>
            <p ng-show="item.logItemType =='UnPublish'">
                Unpublished <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a>.
            </p>
            <p ng-show="item.logItemType =='UnPublishToRecycleBin'">
                Moved {{item.nodeName}} to <a href="/umbraco/#/content/content/recyclebin">recycle bin</a>.
            </p>
        </div>
    </div>
    <div class="span3 offset1">
        <h3>Recent Activites</h3>
        <p>Shows recent activites from all users in the back office.</p>
        <div ng-repeat="item in vm.activities" class="logitem">
            <img src="{{item.userAvatarUrl}}" />
            <span>{{item.timestamp | date:'medium'}}</span>
            <div>
                <p ng-show="item.logItemType =='Save'">
                    <strong>{{item.userDisplayName}}</strong> saved <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a> but did not publish.
                </p>
                <p ng-show="item.logItemType =='SavedAndScheduled'">
                    <strong>{{item.userDisplayName}}</strong> saved and scheduled <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a> for publishing at {{item.scheduledPublishDate | date}}.
                </p>
                <p ng-show="item.logItemType =='Publish'">
                    <strong>{{item.userDisplayName}}</strong> saved and published <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a>.
                </p>
                <p ng-show="item.logItemType =='Delete'">
                    <strong>{{item.userDisplayName}}</strong> moved {{item.nodeName}} to <a href="/umbraco/#/content/content/recyclebin">recycle bin.</a>
                </p>
                <p ng-show="item.logItemType =='UnPublish'">
                    <strong>{{item.userDisplayName}}</strong> unpublished {{item.nodeName}}.
                </p>
                <p ng-show="item.logItemType =='UnPublishToRecycleBin'">
                    <strong>{{item.userDisplayName}}</strong> moved {{item.nodeName}} to <a href="/umbraco/#/content/content/recyclebin">recycle bin</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="span4 offset1">
        <div ng-show="vm.unpublishedContent.length > 0">
            <h3>Unpublished Content</h3>
            <p>Shows unpublished content that has not been been scheduled for publish.</p>
                <div ng-repeat="item in vm.unpublishedContent" class="logitem">
                    <img src="{{item.userAvatarUrl}}" />
                    <span>{{item.timestamp | date:'medium'}}</span>
                    <p>
                        <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a> saved by {{item.userDisplayName}} but not published or scheduled.
                    </p>
                </div>
        </div>
    </div>
</div>
