<div class="row" ng-controller="TheDevDashboard.Controller">
    <umb-load-indicator ng-if="!vm.hijackedRoutes"></umb-load-indicator>
    <div class="span6">
        <h3>Hijacked routes</h3>
        <p>Shows document types associated with custom controllers.</p>
        <div ng-repeat="item in vm.hijackedRoutes" class="logitem">
            <div>
                <p>
                    <strong>{{item.name}}</strong> in <strong>{{item.namespace}}</strong>
                </p>
                <p>Public GETable action methods: </p>
                <ul>
                    <li ng-repeat="method in item.actionMethods">{{method}}()</li>
                </ul>
                <p>
                    <em>Hijacking document type <strong>{{item.documentType}}</strong> and template(s) <strong>{{item.templates}}</strong>.</em>
                </p>
            </div>
        </div>

        <h3>Surface controllers</h3>
        <p>Shows all defined surface controllers.</p>
        <div ng-repeat="item in vm.surfaceControllers" class="logitem">
            <div>
                <p>
                    <strong>{{item.name}}</strong> in <strong>{{item.namespace}}</strong>
                </p>
                <p>Action methods: </p>
                <ul>
                    <li ng-repeat="method in item.actionMethods">{{method}}()</li>
                </ul>
            </div>
        </div>

        <div class="span6">
            <h3>Content finders</h3>
            <p>Shows all the custom content finders.</p>
            <div ng-repeat="item in vm.contentFinders" class="logitem">
                <div>
                    <p>
                        <strong>{{item.name}}</strong> in <strong>{{item.namespace}}</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="span6">
        <h3>Application event handlers</h3>
        <p>Lists all the custom application event handlers that have been applied.</p>
        <div ng-repeat="item in vm.applicationEventHandlers" class="logitem">
            <div>
                <p>
                    <strong>{{item.name}}</strong> in <strong>{{item.namespace}}</strong>
                </p>
            </div>
        </div>
    </div>

    <div class="span6">
        <h3>Events</h3>
        <p>Shows all the custom events attached to the Umbraco services.</p>
        <div ng-repeat="item in vm.customEvents" class="logitem">
            <div>
                <p>
                    <strong>{{item.serviceName}}</strong>: <strong>{{item.eventName}}</strong>
                    <ul>
                        <li ng-repeat="handler in item.handlers"><strong>{{handler.name}}()</strong> in <strong>{{handler.namespace}}</strong></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

</div>
